$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background: url('/images/background_01.jpg') no-repeat top center;
    background-size: 100vw 100vh;
}

.container {
    height: 94vh;
    width: 96vw;
    max-height: 94vh;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid rgba(228, 228, 228, 0.2);
    background-color: rgba(255, 255, 255, 0.2);

    .btn {
        font-size: 16px;
    }

    input {
        background-color: rgba(255, 255, 255, 0.8);

        &::-webkit-input-placeholder {
            color: #666;
        }

        &:-moz-placeholder {
            color: #666;
        }

        &::-moz-placeholder {
            color: #666;
        }

        &:-ms-input-placeholder {
            color: #666;
        }
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.mainAskBox {
    max-height: 27%;
    margin-bottom: 4vh;
    line-height: auto;
    padding: 2% 0;
}

.answers {
    max-height: 69%;
    overlfow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.answerList {
    background-color: transparent;
}

.answer {
    background-color: transparent;
}

#askInput {
    display: inline-block;
    max-width: 78%;
    margin: 0 2%;
}

#askButton {
    max-width: 16%;
    margin-right: 2%;
}